Repository maehwasoo/AILSS: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

fix(api): improve lexical candidate ranking
  apps/api/src/ailss_api/retrieval_lexical.py
  apps/api/tests/helpers.py
  apps/api/tests/test_retrieve.py
Due: none

fix(monorepo): harden grounding and python startup readiness
  apps/api/src/ailss_api/agent.py
  apps/api/tests/test_agent.py
  packages/obsidian-plugin/src/pythonApi/pythonApiServiceController.ts
  packages/obsidian-plugin/test/pythonApi/pythonApiServiceController.startupHelpers.test.ts
Due: prettier, eslint

docs(docs): define python parity boundary
  README.md
  docs/README.md
  docs/architecture/python-mcp-parity.md
Due: prettier

test(mcp): cover parity matrix tool coverage
  packages/mcp/test/docs.mcpToolingConsistency.test.ts
Due: prettier, eslint

test(api): add python parity contract checks
  apps/api/tests/helpers.py
  apps/api/tests/test_parity_contract.py
Due: none

feat(plugin): recenter runtime status around Python backend
  packages/obsidian-plugin/src/commands/registerCommands.ts
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/runtime/startConfiguredServices.ts
  packages/obsidian-plugin/src/settingsSections/advancedSection.ts
  packages/obsidian-plugin/src/settingsSections/mcpServiceSection.ts
  packages/obsidian-plugin/src/settingsSections/pythonApiSection.ts
  packages/obsidian-plugin/src/ui/pluginModals.ts
  packages/obsidian-plugin/src/ui/pythonStatusModal.ts
  packages/obsidian-plugin/src/ui/statusBars.ts
  packages/obsidian-plugin/test/runtime/startConfiguredServices.test.ts
  packages/obsidian-plugin/test/ui/statusBars.test.ts
Due: prettier, eslint

docs(monorepo): clarify Python-centered plugin runtime
  docs/01-overview.md
  packages/obsidian-plugin/README.md
Due: prettier

docs(docs): add legacy runtime removal plan
  docs/03-plan.md
  docs/README.md
  docs/architecture/legacy-node-typescript-runtime-removal.md
  docs/architecture/python-first-local-agent-backend.md
Due: prettier

docs(docs): mark Node runtime docs as transitional
  README.md
  docs/ops/local-dev.md
  packages/obsidian-plugin/README.md
Due: prettier

feat(api): add Python MCP and indexer runtimes
  apps/api/pyproject.toml
  apps/api/src/ailss_api/index_db.py
  apps/api/src/ailss_api/indexer_cli.py
  apps/api/src/ailss_api/indexer_runtime.py
  apps/api/src/ailss_api/mcp_cli.py
  apps/api/src/ailss_api/mcp_runtime.py
  apps/api/src/ailss_api/text_patch.py
  apps/api/src/ailss_api/tool_failure_diagnostics.py
  apps/api/src/ailss_api/vault_runtime.py
  apps/api/tests/test_mcp_runtime.py
  apps/api/uv.lock
Due: none

feat(plugin): default runtime services to apps/api
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/src/indexer/indexerRunner.ts
  packages/obsidian-plugin/src/mcp/httpService/preflight.ts
  packages/obsidian-plugin/src/settingsSections/advancedSection.ts
  packages/obsidian-plugin/src/settingsSections/mcpServiceSection.ts
  packages/obsidian-plugin/src/settingsTypes.ts
  packages/obsidian-plugin/src/utils/pluginPaths.ts
  packages/obsidian-plugin/test/mcp/mcpHttpServiceController.startupHelpers.test.ts
  packages/obsidian-plugin/test/utils/pluginPaths.test.ts
Due: prettier, eslint

refactor(api): split MCP runtime modules
  apps/api/src/ailss_api/mcp_runtime.py
  apps/api/src/ailss_api/mcp_runtime_core.py
  apps/api/src/ailss_api/mcp_runtime_helpers.py
  apps/api/src/ailss_api/mcp_runtime_read_tools.py
  apps/api/src/ailss_api/mcp_runtime_write_tools.py
Due: none

refactor(api): split MCP read tool modules
  apps/api/src/ailss_api/mcp_runtime_context_tools.py
  apps/api/src/ailss_api/mcp_runtime_link_tools.py
  apps/api/src/ailss_api/mcp_runtime_read_tools.py
  apps/api/src/ailss_api/mcp_runtime_vault_tools.py
Due: none

refactor(api): split index DB modules
  apps/api/src/ailss_api/index_db.py
  apps/api/src/ailss_api/index_db_mutations.py
  apps/api/src/ailss_api/index_db_queries.py
  apps/api/src/ailss_api/index_db_schema.py
  apps/api/src/ailss_api/index_db_types.py
  apps/api/src/ailss_api/index_db_utils.py
Due: none

refactor(api): split vault runtime modules
  apps/api/src/ailss_api/vault_runtime.py
  apps/api/src/ailss_api/vault_runtime_constants.py
  apps/api/src/ailss_api/vault_runtime_fs.py
  apps/api/src/ailss_api/vault_runtime_parsing.py
  apps/api/src/ailss_api/vault_runtime_render.py
  apps/api/src/ailss_api/vault_runtime_types.py
Due: none

refactor(plugin): extract main service helpers
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/pythonApi/resultFormatting.ts
  packages/obsidian-plugin/src/runtime/pluginServiceFactories.ts
Due: prettier, eslint

fix(monorepo): harden MCP startup paths
  apps/api/src/ailss_api/index_db_schema.py
  apps/api/tests/test_mcp_runtime.py
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/runtime/startConfiguredServices.ts
  packages/obsidian-plugin/test/runtime/startConfiguredServices.test.ts
Due: prettier, eslint

fix(monorepo): align get_context tool contract
  apps/api/src/ailss_api/mcp_runtime.py
  apps/api/src/ailss_api/mcp_runtime_context_tools.py
  apps/api/tests/test_mcp_runtime.py
  docs/01-overview.md
  docs/ops/local-dev.md
  docs/reference/mcp-tools.md
  packages/obsidian-plugin/src/settingsSections/openAiSection.ts
  packages/obsidian-plugin/src/utils/clamp.ts
  packages/obsidian-plugin/test/mcp/mcpHttpServiceController.startupHelpers.test.ts
  packages/obsidian-plugin/test/utils/clamp.test.ts
Due: prettier, eslint

refactor(monorepo): retarget runtime metadata to apps/api
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/test.md
  .github/ISSUE_TEMPLATE/test.yml
  .github/labeler.yml
  apps/api/README.md
  apps/api/pyproject.toml
  apps/api/src/ailss_api/main.py
  packages/obsidian-plugin/src/settingsSections/advancedSection.ts
  pnpm-workspace.yaml
Due: prettier, eslint

docs(monorepo): refresh current runtime references
  docs/01-overview.md
  docs/03-plan.md
  docs/README.md
Due: prettier

Path conditions:
  prettier: any of: *.{ts,tsx,js,cjs,mjs,json,md,yml,yaml}
  eslint: any of: *.{ts,tsx}
