Repository maehwasoo/AILSS: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

docs(docs): mark auto-index toggle as pause/resume
  docs/03-plan.md
Due: prettier

refactor(core): split frontmatter enum schema module
  packages/core/src/vault/frontmatter.ts
  packages/core/src/vault/frontmatterEnums.ts
Due: prettier, eslint

test(mcp): add frontmatter enum docs drift guard
  packages/mcp/test/docs.frontmatterEnumConsistency.test.ts
Due: prettier, eslint

docs(docs): declare frontmatter enum source of truth
  docs/standards/vault/frontmatter-schema.md
Due: prettier

test(mcp): support CRLF in enum docs parser
  packages/mcp/test/docs.frontmatterEnumConsistency.test.ts
Due: prettier, eslint

docs(docs): clarify cross-process lock and structured-query status
  docs/03-plan.md
Due: prettier

fix(plugin): use repo-relative references in prompt operational template
  docs/standards/vault/prompt-operational.md
Due: prettier

Update README
  README.md
Due: prettier

docs(docs): align plan with Python-first local baseline
  docs/03-plan.md
Due: prettier

docs(monorepo): define Python-first local agent baseline
  README.md
  docs/01-overview.md
  docs/README.md
  docs/architecture/python-first-local-agent-backend.md
Due: prettier

feat(monorepo): add Python api baseline service
  apps/api/README.md
  apps/api/data/golden-local-baseline.json
  apps/api/pyproject.toml
  apps/api/src/ailss_api/__init__.py
  apps/api/src/ailss_api/agent.py
  apps/api/src/ailss_api/cli.py
  apps/api/src/ailss_api/config.py
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/main.py
  apps/api/src/ailss_api/models.py
  apps/api/src/ailss_api/retrieval.py
  apps/api/tests/test_app.py
  apps/api/uv.lock
Due: prettier

ci(monorepo): wire uv validation into repo checks
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  README.md
  eslint.config.mjs
  package.json
Due: prettier

feat(monorepo): add semantic LangGraph Python backend workflow
  apps/api/pyproject.toml
  apps/api/src/ailss_api/agent.py
  apps/api/src/ailss_api/config.py
  apps/api/src/ailss_api/embeddings.py
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/models.py
  apps/api/src/ailss_api/observability.py
  apps/api/src/ailss_api/retrieval.py
  apps/api/tests/test_app.py
  apps/api/uv.lock
  eslint.config.mjs
Due: prettier

feat(plugin): manage local Python backend lifecycle
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/pythonApi/pythonApiServiceController.ts
  packages/obsidian-plugin/src/pythonApi/pythonApiServiceTypes.ts
  packages/obsidian-plugin/src/settingsSections/advancedSection.ts
  packages/obsidian-plugin/src/settingsSections/pythonApiSection.ts
  packages/obsidian-plugin/src/settingsSections/sectionContext.ts
  packages/obsidian-plugin/src/settingsTab.ts
  packages/obsidian-plugin/src/settingsTypes.ts
  packages/obsidian-plugin/src/utils/pluginPaths.ts
  packages/obsidian-plugin/test/settings.sideEffects.test.ts
Due: prettier, eslint

feat(monorepo): add Python backend shutdown management
  apps/api/src/ailss_api/config.py
  apps/api/src/ailss_api/main.py
  apps/api/tests/test_app.py
Due: none

feat(plugin): wire Python backend health and eval commands
  packages/obsidian-plugin/src/commands/registerCommands.ts
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/pythonApi/client.ts
  packages/obsidian-plugin/src/pythonApi/pythonApiServiceController.ts
  packages/obsidian-plugin/src/settingsTypes.ts
  packages/obsidian-plugin/test/pythonApi/client.test.ts
  packages/obsidian-plugin/test/pythonApi/pythonApiServiceController.startupHelpers.test.ts
Due: prettier, eslint

feat(plugin): wire Python backend retrieve and agent commands
  packages/obsidian-plugin/src/commands/registerCommands.ts
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/pythonApi/client.ts
  packages/obsidian-plugin/src/pythonApi/pythonApiServiceController.ts
  packages/obsidian-plugin/src/ui/pythonApiCommandModals.ts
  packages/obsidian-plugin/test/pythonApi/client.test.ts
Due: prettier, eslint

docs(docs): sync Python backend command flow
  README.md
  docs/01-overview.md
  docs/03-plan.md
  docs/architecture/python-first-local-agent-backend.md
Due: prettier

refactor(monorepo): split Python retrieval module by concern
  apps/api/src/ailss_api/retrieval.py
  apps/api/src/ailss_api/retrieval_common.py
  apps/api/src/ailss_api/retrieval_index.py
  apps/api/src/ailss_api/retrieval_lexical.py
  apps/api/src/ailss_api/retrieval_semantic.py
Due: none

docs(monorepo): sync runtime docs with Python backend
  README.md
  docs/architecture/packages.md
  docs/ops/local-dev.md
  docs/ops/testing.md
Due: prettier

fix(monorepo): harden Python backend request and file guards
  apps/api/src/ailss_api/agent.py
  apps/api/src/ailss_api/models.py
  apps/api/src/ailss_api/retrieval_common.py
  apps/api/tests/test_app.py
Due: none

fix(plugin): align Python backend port and top_k clamping
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/pythonApi/pythonApiServiceController.ts
  packages/obsidian-plugin/src/utils/clamp.ts
  packages/obsidian-plugin/test/pythonApi/pythonApiServiceController.startupHelpers.test.ts
  packages/obsidian-plugin/test/utils/clamp.test.ts
Due: prettier, eslint

chore(monorepo): allow api commit scope
  AGENTS.md
  commitlint.config.cjs
  docs/standards/commits.md
Due: prettier

chore(monorepo): wire api GitHub area label
  .github/labeler.yml
  .github/release.yml
  .github/workflows/pr-labeler.yml
  AGENTS.md
Due: prettier

docs(docs): add Python-first backend ADR
  docs/adr/0008-python-first-local-agent-backend.md
Due: prettier

chore(monorepo): bump versions to 0.7.0
  packages/core/package.json
  packages/indexer/package.json
  packages/mcp/package.json
  packages/obsidian-plugin/manifest.json
  packages/obsidian-plugin/package.json
  packages/obsidian-plugin/versions.json
Due: prettier

docs(docs): restore README formatting
  README.md
Due: prettier

fix(api): clamp eval agent top_k
  apps/api/src/ailss_api/evals.py
  apps/api/tests/test_app.py
Due: none

fix(ops): bundle python api in release zip
  .github/workflows/release.yml
  README.md
  docs/ops/local-dev.md
Due: prettier

fix(api): fail closed on invalid eval top_k
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/main.py
  apps/api/tests/test_app.py
Due: none

chore(api): format eval regression test
  apps/api/tests/test_app.py
Due: none

fix(api): harden semantic retrieval and eval dataset errors
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/main.py
  apps/api/src/ailss_api/retrieval.py
  apps/api/src/ailss_api/retrieval_semantic.py
  apps/api/tests/test_app.py
Due: none

fix(api): harden eval and sqlite-vec failures
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/retrieval_index.py
  apps/api/tests/test_app.py
Due: none

fix(api): harden eval route failures
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/main.py
  apps/api/tests/test_app.py
Due: none

fix(api): harden note reads and release bootstrap
  .github/workflows/release.yml
  apps/api/src/ailss_api/agent.py
  apps/api/tests/test_app.py
Due: prettier

fix(api): harden preview and dataset reads
  apps/api/src/ailss_api/evals.py
  apps/api/src/ailss_api/retrieval_common.py
  apps/api/tests/test_app.py
Due: none

fix(api): validate index schema columns
  apps/api/src/ailss_api/retrieval_index.py
  apps/api/tests/test_app.py
Due: none

fix(api): harden citations and index metadata
  apps/api/src/ailss_api/agent.py
  apps/api/src/ailss_api/retrieval_index.py
  apps/api/tests/test_app.py
Due: none

test(api): split route test modules
  apps/api/tests/__init__.py
  apps/api/tests/helpers.py
  apps/api/tests/test_agent.py
  apps/api/tests/test_app.py
  apps/api/tests/test_eval.py
  apps/api/tests/test_health.py
  apps/api/tests/test_retrieve.py
  apps/api/tests/test_shutdown.py
Due: none

Path conditions:
  prettier: any of: *.{ts,tsx,js,cjs,mjs,json,md,yml,yaml}
  eslint: any of: *.{ts,tsx}
