Repository maehwasoo/AILSS: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,tsx,js,cjs,mjs,json,md,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{ts,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

pre-push:
  commands:
    check:
      run: pnpm check

chore(monorepo): translate repo docs and user-facing messages to English
  AGENTS.md
  README.md
  commitlint.config.cjs
  docs/00-context.md
  docs/01-overview.md
  docs/02-significance.md
  docs/03-plan.md
  docs/README.md
  docs/adr/0001-monorepo-packages.md
  docs/adr/0002-desktop-local-db.md
  docs/adr/README.md
  docs/architecture/data-db.md
  docs/architecture/packages.md
  docs/ops/local-dev.md
  docs/standards/coding.md
  docs/standards/commits.md
  docs/standards/quality-gates.md
  docs/vault-ref/README.md
  eslint.config.mjs
  packages/core/src/db/db.ts
  packages/core/src/db/types.ts
  packages/core/src/env.ts
  packages/core/src/vault/filesystem.ts
  packages/core/src/vault/markdown.ts
  packages/core/test/db.test.ts
  packages/core/test/filesystem.test.ts
  packages/core/test/markdown.test.ts
  packages/indexer/src/cli.ts
  packages/mcp/src/stdio.ts
  pnpm-workspace.yaml
  vitest.config.ts
Due: prettier, eslint

chore(plugin): scaffold plugin from Obsidian sample
  packages/obsidian-plugin/.editorconfig
  packages/obsidian-plugin/.github/workflows/lint.yml
  packages/obsidian-plugin/.gitignore
  packages/obsidian-plugin/.gitkeep
  packages/obsidian-plugin/.npmrc
  packages/obsidian-plugin/AGENTS.md
  packages/obsidian-plugin/LICENSE
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/assets/.gitkeep
  packages/obsidian-plugin/esbuild.config.mjs
  packages/obsidian-plugin/eslint.config.mts
  packages/obsidian-plugin/manifest.json
  packages/obsidian-plugin/package-lock.json
  packages/obsidian-plugin/package.json
  packages/obsidian-plugin/src/.gitkeep
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/settings.ts
  packages/obsidian-plugin/styles.css
  packages/obsidian-plugin/styles/.gitkeep
  packages/obsidian-plugin/tsconfig.json
  packages/obsidian-plugin/version-bump.mjs
  packages/obsidian-plugin/versions.json
Due: prettier, eslint

ci(monorepo): enforce commit message linting in CI
  .github/workflows/ci.yml
  docs/standards/quality-gates.md
Due: prettier

feat(plugin): implement ailss-obsidian semantic search modal
  .prettierignore
  eslint.config.mjs
  packages/obsidian-plugin/.github/workflows/lint.yml
  packages/obsidian-plugin/AGENTS.md
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/esbuild.config.mjs
  packages/obsidian-plugin/eslint.config.mts
  packages/obsidian-plugin/manifest.json
  packages/obsidian-plugin/package.json
  packages/obsidian-plugin/src/commands/registerCommands.ts
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/mcp/ailssMcpClient.ts
  packages/obsidian-plugin/src/settings.ts
  packages/obsidian-plugin/src/ui/semanticSearchModal.ts
  packages/obsidian-plugin/styles.css
  packages/obsidian-plugin/tsconfig.json
  packages/obsidian-plugin/version-bump.mjs
  packages/obsidian-plugin/versions.json
  pnpm-lock.yaml
Due: prettier, eslint

ci(monorepo): enforce commitlint and add gitleaks secret scan
  .github/workflows/ci.yml
  docs/standards/quality-gates.md
Due: prettier

docs(plugin): document local setup and simplify plugin AGENTS
  README.md
  docs/ops/local-dev.md
  packages/obsidian-plugin/AGENTS.md
Due: prettier

docs(monorepo): define default capture destination as 100. Inbox
  docs/00-context.md
  docs/01-overview.md
  docs/03-plan.md
Due: prettier

docs(monorepo): document allowed commitlint scopes in AGENTS
  AGENTS.md
Due: prettier

docs(docs): outline Obsidian-managed indexing approach
  docs/03-plan.md
Due: prettier

docs(docs): add indexing UX and MCP safety guidance
  docs/03-plan.md
  docs/ops/local-dev.md
Due: prettier

feat(monorepo): index frontmatter and typed links
  packages/core/src/db/db.ts
  packages/core/src/index.ts
  packages/core/src/vault/frontmatter.ts
  packages/core/test/frontmatter.test.ts
  packages/core/test/note-meta-db.test.ts
  packages/indexer/src/cli.ts
  packages/mcp/src/stdio.ts
Due: prettier, eslint

docs(docs): align docs with frontmatter and typed- link indexing
  README.md
  docs/01-overview.md
  docs/03-plan.md
  docs/architecture/data-db.md
  docs/architecture/packages.md
Due: prettier

docs(docs): document frontmatter queryability
  README.md
  docs/01-overview.md
  docs/03-plan.md
  docs/architecture/data-db.md
Due: prettier

docs(monorepo): require docs alignment after each job
  AGENTS.md
Due: prettier

docs(monorepo): tighten documentation alignment guidance
  AGENTS.md
Due: prettier

docs(monorepo): require drafting commit messages after jobs
  AGENTS.md
Due: prettier

feat(monorepo): add Obsidian reindex and indexer --paths
  README.md
  docs/01-overview.md
  docs/03-plan.md
  docs/ops/local-dev.md
  packages/core/src/db/db.ts
  packages/core/src/vault/filesystem.ts
  packages/core/test/db.test.ts
  packages/core/test/filesystem.test.ts
  packages/indexer/src/cli.ts
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/src/commands/registerCommands.ts
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/settings.ts
Due: prettier, eslint

fix(monorepo): load nearest .env and document symlink installs
  .env.example
  .gitignore
  README.md
  docs/03-plan.md
  docs/README.md
  docs/adr/0003-obsidian-plugin-spawns-processes.md
  docs/adr/0004-frontmatter-and-typed-links-indexing.md
  docs/adr/0005-db-migrations-and-embedding-dimensions.md
  docs/ops/local-dev.md
  packages/core/src/env.ts
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/src/main.ts
Due: prettier, eslint

docs(monorepo): add production readiness plans
  docs/03-plan.md
Due: prettier

docs(monorepo): discourage doc lock-in
  AGENTS.md
Due: prettier

ci(monorepo): fix gitleaks config and build before checks
  .github/workflows/ci.yml
  package.json
Due: prettier

feat(monorepo): add Prometheus Agent activate_context tool
  README.md
  docs/01-overview.md
  docs/03-plan.md
  docs/ops/local-dev.md
  packages/core/src/db/db.ts
  packages/mcp/src/stdio.ts
Due: prettier, eslint

refactor(mcp): split stdio server into tool modules
  packages/mcp/src/lib/openaiEmbeddings.ts
  packages/mcp/src/lib/vaultFs.ts
  packages/mcp/src/mcpDeps.ts
  packages/mcp/src/prometheus.ts
  packages/mcp/src/stdio.ts
  packages/mcp/src/tools/activateContext.ts
  packages/mcp/src/tools/findNotesByTypedLink.ts
  packages/mcp/src/tools/getNote.ts
  packages/mcp/src/tools/getNoteMeta.ts
  packages/mcp/src/tools/searchNotes.ts
  packages/mcp/src/tools/semanticSearch.ts
Due: prettier, eslint

fix(plugin): handle node ENOENT in Obsidian plugin spawns
  README.md
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/settings.ts
Due: prettier, eslint

docs(ops): document Obsidian spawn node ENOENT fix
  docs/ops/local-dev.md
Due: prettier

feat(plugin): add index maintenance buttons and indexer logs
  packages/obsidian-plugin/README.md
  packages/obsidian-plugin/src/main.ts
  packages/obsidian-plugin/src/settings.ts
  packages/obsidian-plugin/src/ui/confirmModal.ts
  packages/obsidian-plugin/src/ui/indexerLogModal.ts
Due: prettier, eslint

docs(monorepo): document index maintenance UI
  README.md
Due: prettier

feat(core): add AILSS_ENABLE_WRITE_TOOLS env flag
  packages/core/src/env.ts
Due: prettier, eslint

feat(mcp): add edit_note tool with line patch ops
  packages/mcp/src/lib/textPatch.ts
  packages/mcp/src/lib/vaultFs.ts
  packages/mcp/src/stdio.ts
  packages/mcp/src/tools/editNote.ts
  packages/mcp/test/textPatch.test.ts
Due: prettier, eslint

docs(docs): document edit_note tool and write-tools flag
  docs/01-overview.md
  docs/03-plan.md
Due: prettier

docs(ops): document AILSS_ENABLE_WRITE_TOOLS in local dev guide
  docs/ops/local-dev.md
Due: prettier

docs(monorepo): prefer split commits with tight scopes
  AGENTS.md
Due: prettier

chore(ops): ignore local obsidian plugin data.json in prettier and git
  .gitignore
  .prettierignore
Due: none

fix(plugin): guard clipboard copy to satisfy repo typecheck
  packages/obsidian-plugin/src/ui/indexerLogModal.ts
Due: prettier, eslint

fix(core): tolerate unquoted Obsidian wikilinks in YAML frontmatter
  packages/core/src/vault/markdown.ts
  packages/core/test/markdown.test.ts
Due: prettier, eslint

feat(indexer): index body wikilinks as links_to typed links
  packages/indexer/src/cli.ts
Due: prettier, eslint

docs(monorepo): document links_to typed links
  docs/01-overview.md
  docs/architecture/data-db.md
Due: prettier

ci(monorepo): enforce single-line commit messages
  .github/workflows/ci.yml
  docs/standards/commits.md
  lefthook.yml
  scripts/check-commit-messages-single-line.mjs
  scripts/commit-msg-single-line.mjs
Due: prettier

fix(indexer): prevent chunk_id collisions within a note
  packages/indexer/src/cli.ts
Due: prettier, eslint

fix(core): enforce maxChars when chunking markdown
  packages/core/src/vault/markdown.ts
  packages/core/test/markdown.test.ts
Due: prettier, eslint
